
  #li-box{
    margin: 0 10px 5px ;
    float: left;
    width:30%;
  }
  #img-box{
    width: 100%;
    height: 200px;
  }

  #footer-box1{
    text-align: right;
    padding-right: 3px;
    font-size: 12px;
    color: #da3155;
    font-weight: bold;
  }
  #header-box{
    font-weight: bold;
  }

  .pd-0{
    padding: 0;
  }

  .thumb-box {
    padding: 3px;
    margin: 10px 0;
}

.caption {
    position: relative;
    padding: 5px;

}

.caption p {
  position: relative;
  top: 50%;
  top:0%\9; /*ie8*/
  transform: translateY(-50%);
}

/**/
@media (max-width:767px) {
.thumb-row {margin-left:-2%;margin-right:-2%;}
.thumb-row [class*=col-] {padding-left:2%;padding-right:2%;}

}
